.accessories {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.accessoriesHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 20px;
    border-top: 2px solid #1b1b1b;
    border-bottom: 2px solid #1b1b1b;

}

.accessoriesContext {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0px;
}

.accessoriesContext h3 {
    font-size: 40px;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-right: 0px;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.viewMoreButton {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.viewMoreButton .viewMoreBtn {
    font-size: 12px;
    padding: 5px;

    border-radius: 5px;
    border: 2px solid transparent;
    border-bottom: 2px solid darkgrey;

}

.viewMoreButton .viewMoreBtn:hover {
    border: 2px solid darkgrey;
}

.accesories-itemCardsContainer {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: 30px 0px;
    height: auto;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.accesories-itemCardsContainer button {
    background-color: transparent;
    display: flex;
    border: none;
    height: auto;
    width: auto;
}

.accessories-cardContainer {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: flex-start;
}

.accessories-imageCon {
    display: flex;
    height: 150px;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.accessories-imageCon img {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
}

.accessories-descriptions {
    padding: 10px;
}

.accessories-itemTitle {
    display: flex;
    width: 100%;
    font-size: 12px;
    text-transform: capitalize;
    margin: 5px 0px;
}

.accessories-itemPriceContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.accessories-currentPrice {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    width: 100%;
}

.accessories-beforePrice {
    font-size: 10px;
    font-weight: normal;
    display: flex;
    width: 100%;
    text-decoration: line-through;
}