.community {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin-bottom: 5rem;
}

.communityHeaderContainer {
    width: 70%;
    height: auto;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #1b1b1b;
    border-bottom: 2px solid #1b1b1b;
}

.communityHeaderContainer .c-hearder {
    font-size: 30px;
}

.communityContext {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.communityContext h1 {
    text-align: end;
    margin: auto;
    width: auto;
}

.communityImages {
    height: auto;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.communityImages .com-imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imageGroup1,
.imageGroup2 {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.img1,
.img4 {
    position: relative;
      height: auto;
    width: 100%;
}

.img3,
.img2 {
    position: relative;
      height: auto;
    width: 100%;

}

.image1,
.image2,
.image3,
.image4 {
    object-fit: contain;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
}