.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    padding-bottom: 60px;
    background-color: #393939;
}

.footer hr {
    background-color: #969696;
    border: none;
    margin: 20px;
    height: 2px;
    width: 100%;
}

.footer-top {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-top h3 {
    color: #B2A8A8;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 10px;
}


.footerLinks {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.footerLinks a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.footerLinks a:hover {
    text-decoration: underline;
}

.footer-bottomSection {
    display: flex;
    flex: 1;
    width: 70%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

.rightsReservedContainer {
    color: #969696;
    display: flex;
    width: auto;
    flex: 1;
    margin: auto;
}

.whatsappNumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: 1;
}

.whatsappNumb a {
    text-decoration: none;
    color: #969696;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsAppIcon {
    margin: 10px;
    color: inherit;
    font-size: 20px;
}

.whatsappNumb a:hover {
    color: #d8d6d6;
}

.footer-socialsContainer {
    display: flex;
    margin: auto;
    height: auto;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.footersocialLink {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.footersocialLink a {
    color: #969696;
    font-size: 20px;
}

.footersocialLink a:hover {
    color: white;
}