.nav {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: white;
}

.loginContainer {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    color: white;
}

.loginContainer .promo {
    height: 100%;
    font-size: 10px;
    font-weight: bold;
    font-family: open sans;
}

.loginContainer .login .loginBtn {
    padding: 5px 20px;
    font-size: 10px;
    margin: auto;
    background: transparent;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
}

.navContainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: auto 30px;

}

.navContainer .logoContainer {
    width: auto;
    height: auto;
    display: flex;
    overflow: hidden;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.logoWrapper{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navContainer .logoContainer .logoWrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    object-fit: contain;
    padding: 10px;
}

.navContainer .navButtons {
    padding: 10px;
    width: auto;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navContainer .navButtons ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navContainer .navButtons ul button {
    padding: 5px 10px 10px 0px;
    display: flex;
    border: none;
    background: transparent;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    justify-content: center;
    color: #8D8D8D;
}


.navContainer .navButtons ul button::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: #565555;
    display: flex;
    justify-content: start;
    margin: auto;
    left: 0px;
    bottom: 0px;
    transition: all 500ms ease;
}

.navContainer .navButtons ul button:hover::before {
    width: 100%;
}

.navContainer .notificationCon {
    text-transform: capitalize;
    display: flex;
    width: auto;
    height: 100%;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.notificationIcon {
    color: #8D8D8D;
    font-size: 20px;
}

/* MOBILE VIEW */

.mobileNav {
    display: none;
}

.toggleBtnContainer {
    display: none;
}

.mobileNavActivated {
    display: none;
}

.mobileNavDeActivated {
    display: none;
}

@media screen and (max-width:900px) {
    .toggleBtnContainer {
        display:    flex;
        z-index: 999;
        height: 40px;
        width: 40px;
        right: 0px;
        position: absolute;
        margin: 20px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .toggleBtn {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: relative;
    }

    .toggleBtn .toggleLine1,
    .toggleBtn .toggleLine2 {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        transition: all 500ms ease;
    }

    .toggleActivate1 {
        position: absolute;
        rotate: -45deg;
    }

    .toggleActivate2 {
        position: absolute;
        rotate: 45deg;
    }

    .toggleDeActivate {
        position: relative;
        rotate: 0deg;
    }

    .toggleLine1 .tog1,
    .toggleLine2 .tog2 {
        width: 100%;
        height: 3px;
        display: flex;
        position: relative;
        background-color: #1F1E1E;
    }

    .nav {
        display: flex;
        flex-direction: column;
        padding: unset;
        margin: auto;
        height: 100%;
        position: fixed;
        flex: 1;
    }

    .loginContainer {
        display: none;
    }

    .navContainer {
        display: none;
    }

    .mobileNav {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        flex: 1;
        margin: auto;
        flex-direction: column;
        padding: 10px;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0%);
        }

    }

    .mobileNavDeActivated {
        display: none;
    }

    .mobileNav .mobileLinks {
        display: flex;
        height: 50%;
        width: 100%;
        justify-content: start;
        align-items: flex-start;
        margin: 0px;

    }

    .mobileNav .mobileLinks ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
        margin: auto;
        padding: 50px 0px;
    }

    .mobileNav .mobileLinks ul button {
        padding: 20px;
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        font-size: 30px;
        color: rgb(104, 102, 102);
        text-transform: capitalize;
        font-weight: medium;
    }
}