.newSeason {
    height: 500px;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 30px;
}

.newSeasonHeader {
    height: 50px;
    width: 40%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.newSeason h3 {
    font-size: 30px;
    text-transform: capitalize;
    margin: initial;
    left: 0px;
    display: flex;
    font-weight: bold;
}

.newSeasonUnderline {
    height: 2px;
    width: 80%;
    display: flex;
    margin: auto;
    right: 0px;
    background-color: #1b1b1b;
}

.newSeasonContent {
    display: flex;
    flex: 1;
    height: 200px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.ns-sorting {
    flex: 1;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.menCollection {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    overflow: hidden;
    position: relative;
    transition: 1s all ease;
}

.menCollection .m-header {
    display: flex;
    width: 100%;
    height: auto;
    width: 100%;
    margin: auto;
    opacity: .5;
    top: 0px;
    position: relative;
    background-color: transparent;

}

.menCollection .m-header button {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    display: flex;
    margin: auto;
    background-color: transparent;
    border: none;
}

.menCollection .m-header button:hover {
    text-decoration: underline;
}

.arrow {
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #1b1b1b;
    transition: 500ms all ease;
}

.flipArrow {
    transform: rotate(180deg);
}

.menCollection .m-collection-filterBtns {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    bottom: 0px;
    position: relative;
    margin: 10px;
}

.menCollection .m-collection-filterBtns button {
    padding: 0px 5px;
    margin-bottom: 5px;
    font-size: 15px;
    width: auto;
    margin: auto;
    margin-bottom: 5px;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: bold;
    color: #646464;
    cursor: pointer;
    border: none;
}

.menCollection .m-collection-filterBtns button:hover {
    text-decoration: underline;
}

/* WOMEN */

.womenCollection {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    padding: 2px;
    position: relative;
}

.womenCollection .w-header {
    display: flex;
    width: 100%;
    height: auto;
    width: 100%;
    margin: auto;
    opacity: .5;

}

.womenCollection .w-header button {
    justify-content: space-between;
    align-items: center;
    width: 200px;
    display: flex;
    margin: auto;
    background-color: transparent;
    border: none;
}

.womenCollection .w-header button:hover {
    text-decoration: underline;
}

.arrow {
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #1b1b1b;
}

.womenCollection .w-collection-filterBtns {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 10px;
}

.womenCollection .w-collection-filterBtns button {
    padding: 0px 5px;
    margin-bottom: 5px;
    font-size: 15px;
    width: auto;
    margin: auto;
    margin-bottom: 5px;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: bold;
    color: #646464;
    border: none;
}

/* CHILDREN */

.childrenCollection {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    padding: 2px;
    position: relative;
}

.childrenCollection .c-header {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    opacity: .5;

}

.childrenCollection .c-header button {

    justify-content: space-between;
    align-items: center;
    width: 200px;
    display: flex;
    margin: auto;
    background-color: transparent;
    border: none;
}

.arrow {
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #1b1b1b;
}

.childrenCollection .c-collection-filterBtns {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 10px;
}

.childrenCollection .c-collection-filterBtns button {
    padding: 0px 5px;
    margin-bottom: 5px;
    font-size: 15px;
    width: auto;
    margin: auto;
    margin-bottom: 5px;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: bold;
    color: #646464;
    border: none;
}

button .gender-category {
    font-size: 20px;
}

/* OUTFIT */
.ns-productContainer {
    position: relative;
    height: 100%;
    width: auto;
    margin: auto;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.ns-productWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.ns-productWrapper h4 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.ns-productContainer .ns-imageContainer {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 400px;
    justify-content: space-around;
}

.ns-imageContainer .ns-firtsImage .ns-selectActiveImage {
    height: 100%;
    width: auto;
    margin: auto;
    display: flex;
    position: relative;
}

.ns-productContainer .ns-imageContainer .otherImages {
    width: auto;
    height: 100%;
    display: flex;
    margin: auto;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.ns-productContainer .ns-imageContainer .otherImages button {
    border: 3px solid white;
    overflow: hidden;
    border-radius: 10px;
    height: 120px;
    width: 100px;
}

.ns-productContainer .ns-imageContainer .otherImages button .ns-SecondImage {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.ns-imageContainer .imageSelect {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    object-fit: cover;
    position: relative;
    transition: 500ms all ease;
}

.ns-imageContainer .imageSelect:hover {
    transform: scale(1.1);
    height: 100%;
    width: 100%;
}

.deactive {
    display: none;
    transition: 500ms all ease;
}