.sponsors {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsorsImageContainer {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.sponsor-leftLongImage {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sponsor-leftLongImage img {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.sponsors-rightImagesContent {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsors-rightImagesContent .writeUp {
    width: auto;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin: auto;
}

.leftImagesContainer {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}

.leftLeft {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.leftMiniTopImage {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex: 1;
    overflow: hidden;

}

.leftMiniTopImage img {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;


}

.leftMiniBtopImage {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex: 1;
    overflow: hidden;
}

.leftMiniBtopImage img {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.rightright {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    flex: 1.5;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.topLandscpaeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    flex: 1;
    overflow: hidden;
}

.topLandscpaeImage img {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.rightrightbottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    height: auto;
    flex: 2;
    gap: 5px;
}

.leftBottomleft {
    flex: 1;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.leftBottomleft img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.rightBottomleft {
    flex: 1;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.rightBottomleft img {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.subscrbeWrapper {
    margin: 30px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;

}

.subscrbeWrapper form {
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    margin: auto;
}

.subscrbeWrapper form input {
    height: 100%;
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #1b1b1b;
}

.subscrbeWrapper form button {
    height: 100%;
    width: auto;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background-color: #312E2E;
    color: white;
    border: none;

}


@media screen and (max-width:900px){
    .sponsors{
        padding: 0px 20px;
    }
}