*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #fbfbfb;
}
button{
  cursor: pointer;
} 
.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}