*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button{
  cursor: pointer;
} 
body{
  background-color: #F0F0F0;
}
.wrapper{
  display: flex;
  padding-top: 10%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}